<div class="auth-container">
  <h2>Register</h2>
  <form #registerForm="ngForm" (ngSubmit)="onRegister()">
    <div>
      <label for="firstName">First Name:</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        [(ngModel)]="registerPayload.first_name"
        required
      />
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        [(ngModel)]="registerPayload.last_name"
        required
      />
    </div>
    <div>
      <label for="username">Email:</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="registerPayload.email"
        required
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="registerPayload.password"
        required
      />
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div>
      <label for="login-username">Username:</label>
      <input
        type="text"
        id="login-username"
        name="username"
        [(ngModel)]="loginPayload.email"
        required
      />
    </div>
    <div>
      <label for="login-password">Password:</label>
      <input
        type="password"
        id="login-password"
        name="password"
        [(ngModel)]="loginPayload.password"
        required
      />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
</div>
